.container_for_date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 250px;
  box-shadow: 5px 5px 10px black;
}

.date {
  display: flex;
  padding: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  color: black;
}

.margin {
  margin: 0 5px;
}