@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 1010px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-image: url("../public/clouds.jpg");
  background-size: cover;
  color: black;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}