.nav {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Typewolf" "Lucida Handwriting";
}

.link {
  color: #2b14d8;
  margin: 0 15px;
  text-decoration: none;
}

.line {
  border: solid 1px #2b14d8;
  width: 2px;
  height: 10px;
  margin: 0 15px;
}